.benchmark( aria-live="polite" aria-label="Desempenho" aria-hidden="true" )
  .benchmark_row
    = "Travamento máx. "
    strong.benchmark_value.is-freeze-max
  .benchmark_row
    = "Travamento total "
    strong.benchmark_value.is-freeze-sum
  .benchmark_row
    = "Worker máx. "
    strong.benchmark_value.is-worker-max
  .benchmark_row
    = "Worker total "
    strong.benchmark_value.is-worker-sum
  .benchmark_row
    = "Pintura      "
    strong.benchmark_value.is-paint
