main.main.layout_main#main-panel
  button.main_expand( aria-label="Alternar painel" type="button" aria-expanded='true' aria-controls="main-panel" )
  .main_row.main_row--sample
    include ../sample/index.pug
  .main_row
    include ../code/index.pug
  .main_row
    include ../mode/index.pug
  footer.main_footer
    | Use os exemplos prontos ou cole um código de cor para começar.
