include ../checkbox/mixin.pug

section.settings( aria-label="Configurações" )
  +checkbox('mode3d', 'Mostrar modelo 3D', false)
  +checkbox('charts', 'Mostrar gráficos', true)
  +checkbox('p3', 'Mostrar P3', true)
  +checkbox('rec2020', 'Mostrar Rec. 2020', false)
