.sample.is-srgb
  .sample_reader( aria-live="polite" )
  .sample_preview
  .sample_meta
    .sample_unavailable
    .sample_details
      .sample_space
      button.sample_note.sample_action( title="Usar fallback em sRGB" ) usar sRGB
